# Группировка по значениям колонок — groupby

Группировка разделяет весь датасет на группы по значениям какой-либо колонки (или нескольких).

### Подгрузка датасета

In [1]:
!gdown --id 1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS
import pandas as pd
dataset = pd.read_csv('housing_market_dataset.csv')

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1LjVzFpLoB0vfB1wSuc7PxZ0VyiJFNOVS
To: /content/housing_market_dataset.csv
100% 29.4M/29.4M [00:00<00:00, 58.8MB/s]

### Кейс 1. Необходимо рассчитать среднюю цену квартир на разной стадии строительства

In [2]:
import re

def clear_price(price):
  return int(re.sub('\D', '', price))
dataset['Очищенная цена'] = dataset['Цена'].apply(clear_price)

In [3]:
dataset.groupby('Этап строительства')

In [4]:
groups = dataset.groupby('Этап строительства')
groups_mean_price = groups['Очищенная цена'].mean()

In [5]:
groups_mean_price

Этап строительства
В проекте          6.185037e+06
Возведение стен    1.236093e+07
Заморожено         8.774750e+06
Котлован           8.517868e+06
Отделка            1.554390e+07
Площадка           1.032724e+07
Сдан               2.043495e+07
Name: Очищенная цена, dtype: float64

In [6]:
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Этап строительства
В проекте           6185036
Возведение стен    12360927
Заморожено          8774750
Котлован            8517868
Отделка            15543895
Площадка           10327241
Сдан               20434953
Name: Очищенная цена, dtype: int64

### Кейс 2. Необходимо рассчитать среднюю цену квартир в зависимости от стадии строительства и класса жилья.

In [7]:
dataset.groupby(['Этап строительства', 'Класс жилья'])

In [8]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'])['Очищенная цена'].mean()
groups_mean_price = groups_mean_price.astype(int)
groups_mean_price

Этап строительства  Класс жилья
В проекте           Бизнес класс     17854750
                    Комфорт класс     5876689
                    Элит класс        7300000
Возведение стен     Бизнес класс     14832840
                    Комфорт класс     5993095
                    Эконом класс      6564340
                    Элит класс       30390451
Заморожено          Бизнес класс      8750000
                    Эконом класс      8799500
Котлован            Бизнес класс      6100000
                    Комфорт класс     8611092
                    Эконом класс      7300000
Отделка             Бизнес класс     14800645
                    Комфорт класс     6862173
                    Элит класс       31383414
Площадка            Бизнес класс     11033281
                    Комфорт класс    10083113
Сдан                Бизнес класс     15561696
                    Комфорт класс     7677024
                    Эконом класс      8259168
                    Элит класс       61650630
Name: Очищенная цена, dtype: int64

In [9]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс    1.785475e+07
1           В проекте  Комфорт класс    5.876690e+06
2           В проекте     Элит класс    7.300000e+06
3     Возведение стен   Бизнес класс    1.483284e+07
4     Возведение стен  Комфорт класс    5.993096e+06
5     Возведение стен   Эконом класс    6.564340e+06
6     Возведение стен     Элит класс    3.039045e+07
7          Заморожено   Бизнес класс    8.750000e+06
8          Заморожено   Эконом класс    8.799500e+06
9            Котлован   Бизнес класс    6.100000e+06
10           Котлован  Комфорт класс    8.611092e+06
11           Котлован   Эконом класс    7.300000e+06
12            Отделка   Бизнес класс    1.480065e+07
13            Отделка  Комфорт класс    6.862173e+06
14            Отделка     Элит класс    3.138341e+07
15           Площадка   Бизнес класс    1.103328e+07
16           Площадка  Комфорт класс    1.008311e+07
17               Сдан   Бизнес класс    1.556170e+07
18               Сдан  Комфорт класс    7.677025e+06
19               Сдан   Эконом класс    8.259169e+06
20               Сдан     Элит класс    6.165063e+07

In [10]:
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

   Этап строительства    Класс жилья  Очищенная цена
0           В проекте   Бизнес класс        17854750
1           В проекте  Комфорт класс         5876689
2           В проекте     Элит класс         7300000
3     Возведение стен   Бизнес класс        14832840
4     Возведение стен  Комфорт класс         5993095
5     Возведение стен   Эконом класс         6564340
6     Возведение стен     Элит класс        30390451
7          Заморожено   Бизнес класс         8750000
8          Заморожено   Эконом класс         8799500
9            Котлован   Бизнес класс         6100000
10           Котлован  Комфорт класс         8611092
11           Котлован   Эконом класс         7300000
12            Отделка   Бизнес класс        14800645
13            Отделка  Комфорт класс         6862173
14            Отделка     Элит класс        31383414
15           Площадка   Бизнес класс        11033281
16           Площадка  Комфорт класс        10083113
17               Сдан   Бизнес класс        15561696
18               Сдан  Комфорт класс         7677024
19               Сдан   Эконом класс         8259168
20               Сдан     Элит класс        61650630

### Шаблоны группировки по значениям колонок

In [11]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям Этапа строительства
groups_mean_price = dataset.groupby('Этап строительства')['Очищенная цена'].mean()

In [12]:
# Шаблон взятия среднего значения цены квартир сгруппированных по значениям колонок Этапа строительства и Класса жилья
groups_mean_price = dataset.groupby(['Этап строительства', 'Класс жилья'], as_index=False)['Очищенная цена'].mean()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)

## Тест

In [17]:
groups_mean_price = dataset.groupby(['Этап строительства', 'Тип здания'], as_index=False)['Очищенная цена'].mean()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

   Этап строительства           Тип здания  Очищенная цена
0           В проекте            Кирпичное        21773000
1           В проекте           Монолитное         5887177
2     Возведение стен              Блочное         6050000
3     Возведение стен            Кирпичное        14047199
4     Возведение стен  Монолитно-кирпичное        17219910
5     Возведение стен           Монолитное        10836182
6     Возведение стен            Панельное         8346837
7          Заморожено            Кирпичное         8750000
8          Заморожено           Монолитное         9600000
9          Заморожено            Панельное         7999000
10           Котлован              Блочное         6700000
11           Котлован           Монолитное        10063231
12           Котлован            Панельное         6017986
13            Отделка              Блочное         7950000
14            Отделка            Кирпичное        10742451
15            Отделка  Монолитно-кирпичное        14266877
16            Отделка  Монолитно-кирпичный        23447135
17            Отделка           Монолитное        14403422
18            Отделка           Монолитный        12340100
19            Отделка            Панельное         8283333
20           Площадка              Блочное        10650000
21           Площадка           Монолитное        10399853
22           Площадка            Панельное         5458231
23               Сдан              Блочное         8468648
24               Сдан            Кирпичное        21903860
25               Сдан  Монолитно-кирпичное        32341504
26               Сдан  Монолитно-кирпичный        42805678
27               Сдан           Монолитное        17617444
28               Сдан           Монолитный        36805386
29               Сдан            Панельное         9468853
30               Сдан            Панельный        13950000

In [18]:
groups_mean_price = dataset.groupby(['Тип здания'], as_index=False)['Очищенная цена'].min()
groups_mean_price['Очищенная цена'] = groups_mean_price['Очищенная цена'].astype(int)
groups_mean_price

            Тип здания  Очищенная цена
0              Блочное         3450000
1            Кирпичное         2000000
2  Монолитно-кирпичное         1750000
3  Монолитно-кирпичный         6400000
4           Монолитное          612000
5           Монолитный         4385000
6   Панельно-кирпичное         6950000
7            Панельное         1800000
8            Панельный        11700000
9           Сталинское         9150000

In [20]:
groups_mean_price = dataset.groupby(['Этап строительства'], as_index=False)['Год постройки'].max()
groups_mean_price

  Этап строительства  Год постройки
0          В проекте         2021.0
1    Возведение стен         2021.0
2         Заморожено         2018.0
3           Котлован         1977.0
4            Отделка         2020.0
5           Площадка         2021.0
6               Сдан         2021.0